/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: grid;
  font-family: sans-serif;
  font-size: 14px;
}

/* Nav */
.custom-nav {
  display: block;
}


/* ------------------------------------------------------ */
/* Navbar Escura */
#myNav .custom-navbar-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 43, 66, 1);
  color: white;
  padding: 17px 30px;
}

#myNav .custom-navbar-dark p {
  align-items: center;
  display: flex;
  justify-items: center;
  margin: 0 20px 0 0;
  font-weight: 600;
}

#myNav .custom-navbar-dark p a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

#myNav .custom-navbar-dark .redes a {
  margin: 0 10px;
}


/* ------------------------------------------------------ */
/* Navbar Clara */
#myNav .custom-navbar-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0 20px;
}

#myNav .custom-navbar-light img {
  max-width: 108px;
}

#myNav .custom-navbar-light ul {
  display: flex;
  list-style: none;
  margin: 0;
  font-weight: 600;
}

#myNav .custom-navbar-light ul li {
  margin: 0 15px;
}

#myNav .custom-navbar-light ul li a {
  text-decoration: none;
  color: rgba(115, 115, 115, 1);
}

#myNav .custom-navbar-light ul li .shop {
  font-weight: 100;
  color: #000;
}

/* ------------------------------------------------------ */

#myNav .logo {
  margin: 25px;
  display: block;
}

#myNav .nav-menu-icons {
  display: flex;
  flex: 0 0 90%;
}

#myNav .menu-light {
  display: flex;
  flex: 0 0 66.66%;
  align-items: center;
}

#myNav .icons-light {
  display: flex;
  padding: 0px 26px 0 0;
  flex: 0 0 33.33%;
  justify-content: flex-end;
  align-items: center;
}

#myNav .icons-light a {
  margin-left: 30px;
  text-decoration: none;
  color: #23A6F0;
  display: flex;
  align-items: center;
}

#myNav .icons-light a p {
  font-size: 14px;
  margin: 0px 4px;
  font-weight: 600;
}

#myNav .icons-light a .num {
  font-size: 12px;
  font-weight: 100;
}

/* ------------------------------------------------------ */

/* Carousel */
/* #myCarousel .carousel {
  margin: 0;
}

#myCarousel .carousel-inner {
  overflow: hidden;
}

#myCarousel .carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ccc;
}

#myCarousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myCarousel .carousel-caption, .carousel-caption.carousel1 {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#myCarousel .carousel-caption.carousel1{
  left: 40%;
}

#myCarousel .carousel-caption h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#myCarousel .carousel-caption p {
  font-size: 18px;
}

#myCarousel .carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 24px;
  text-decoration: none;
  outline: none;
}

#myCarousel .carousel-control-prev {
  left: 10px;
}

#myCarousel .carousel-control-next {
  right: 10px;
}

#myCarousel .carousel-indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

#myCarousel .carousel-indicators li {
  display: inline-block;
  width: 62px;
  height: 10px;
  border-radius: 0;
  background-color: #ffffff78;
  cursor: pointer;
}

#myCarousel .carousel-indicators li.active {
  background-color: #ffffff;
}

#myCarousel .carousel-caption .container-carousel {
  text-align: start;
}

#myCarousel .container-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#myCarousel .container-carousel.carousel1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#myCarousel .container-carousel-left ul.cta {
  display: flex;
  align-items: center;
  list-style-type: none;
}

#myCarousel ul.cta li {
  padding-left: 10px;
}

#myCarousel ul.cta li p {
  
}

#myCarousel ul.cta li button {
  margin-left: 50px;
  padding: 20px 45px 20px 45px;
  border: 2px solid transparent;
  border-radius: 5%;
  border: none;
  cursor: pointer;

}

#myCarousel ul.cta li button:hover  {
  background-color: #229256;
}

#myCarousel .container-carousel .container-carousel-left{
  padding: 20px;
}

#myCarousel .carousel-caption h4 {
  font-size: 20px;
  margin-bottom: 10%;
}

#myCarousel .carousel-caption h1 {
  font-size: 70px;
  margin-bottom: 10%;
}

#myCarousel .carousel-caption p {
  font-size: 20px;
  margin-bottom: 10%;
}

#myCarousel .carousel-caption button {
  background-color: #2dc071;
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

#myCarousel .carousel-caption button {
  background-color: #2dc071;
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 64px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: rgba(255,255,255,.5);
}
*/

/* ------------------------------------------------------ */
/* Shop Cards */
.shop-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 40px 0 60px;
}

.header-card {
  text-align: center;
  margin: 30px;
}

.shop-cards article {
  text-align: center;
  margin: 45px;
}

.shop-cards h2 {
  padding-bottom: 4px;
  color: #252B42;
  font-weight: 600;
}

.shop-cards p {
  color: #737373;
  font-weight: 600;
  font-size: 20px;
}

.grid-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  height: 500px;
}

.grid-item {
  text-align: center;
  background-size: cover;
  background-position: center;
  /* border-radius: 8px; */
  overflow: hidden;
  position: relative;
  width: 255px;
  background-color: black;
}

.grid-item h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: #000;
  background-color: #ffffff;
  padding: 16px 14%;
  font-size: 14px;
  font-weight: 800;
}

.grid-item.men {
  background-image: url('src/img/shopcards/front/men.png');
  height: 100%;
  width: 100%;
  transition: background-image 0.5s ease;
}

.grid-item.women {
  background-image: url('src/img/shopcards/front/women.png');
  height: 100%;
  width: 100%;
  transition: background-image 0.5s ease;
}

.grid-item.accessories {
  background-image: url('src/img/shopcards/front/accessories.png');
  height: 50%;
  transition: background-image 0.5s ease;
}

.grid-item.kids {
  background-image: url('src/img/shopcards/front/kids.png');
  height: 50%;
  transition: background-image 0.5s ease;
}

.grid-item.men:hover {
  background-image: url('src/img/shopcards/back/men2.jpeg');
}

.grid-item.women:hover {
  background-image: url('src/img/shopcards/back/women2.jpeg');
}

.grid-item.accessories:hover {
  background-image: url('src/img/shopcards/back/accessories2.jpeg');
}

.grid-item.kids:hover {
  background-image: url('src/img/shopcards/back/kids2.png');
}

.grid-aside-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.grid-aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}


/* ------------------------------------------------------ */
/* Product Cards */
.product-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  justify-items: center;
  padding: 40px 0;
  gap: 20px;
}

.header-product{
  text-align: center;
  margin: 30px;
}

.product-cards article {
  margin: 20px;
  text-align: center;
}

.product-cards h3 {
  padding-bottom: 15px;
  color: #737373;
  font-weight: 100;
  font-size: 25px;
  margin: 0;
}

.product-cards h2 {
  padding-bottom: 15px;
  color: #252B42;
  font-weight: 600;
  font-size: 27px;
  margin: 0;
}

.product-cards p {
  padding-bottom: 15px;
  color: #737373;
  margin: 0;
  font-size: 18px;
}

.grid-template-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-product {
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.card-product img {
  background-color: #000;
  width: 240px;
  height: 425px;
  /* border-radius: 8px; */
}

.card-product article {
  margin-top: 15px;
}

.card-product h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #252B42;
  padding-bottom: 10px;
}

.card-product p {
  margin: 5px 0;
  font-size: 16px;
  color: #737373;
  padding-bottom: 10px;
  font-weight: 600;
}

.color-price {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  font-weight: 600;
}

.color-price li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.original-price {
  text-decoration: line-through;
  color: #BDBDBD;
}

.discount-price {
  color: #23856D;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.blue {
  background-color: #23A6F0;
}

.green {
  background-color: #23856D;
}

.range {
  background-color: #E77C40;
}

.black {
  background-color: #252B42;
}

.card-product img.a1 {
  background-image: url('src/img/carousel1/banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  top: 0;
  left: 0;
}


/* ------------------------------------------------------ */
/* Container Fluid */

#myContainerFluid {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

#myContainerFluid img {
  /* width: 40%; */
  padding: 0 50px;
}

#myContainerFluid header {
  /* width: 50%; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  padding: 0 64px;
}

#myContainerFluid h5 {
  font-size: 18px;
  color: #BDBDBD;
  text-transform: uppercase;
  margin: 25px 0;
  font-weight: 600;
}

#myContainerFluid h1 {
  font-size: 46px;
  color: #252B42;
  font-weight: 600;
  margin: 0;
}

#myContainerFluid p {
  font-size: 24px;
  color: #737373;
  margin: 24px 0;
}

#myContainerFluid menu li {
  display: inline-block;
  margin-right: 5px;
}

#myContainerFluid .left,
#myContainerFluid .right {
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#myContainerFluid .left {
  background-color: #2DC071;
  border-radius: 0 5%;
  border: 2px solid #2DC071;
  font-size: 20px;
}

#myContainerFluid .left:hover {
  color: #2DC071;
  background-color: transparent;
  border: 2px solid #2DC071;
  border-radius: 5%;
  font-size: 20px;
}

#myContainerFluid .right {
  color: #2DC071;
  background-color: transparent;
  border: 2px solid #2DC071;
  border-radius: 5%;
  font-size: 20px;
}

#myContainerFluid .right:hover {
  background-color: #2DC071;
  color: #fff;
}


/* ------------------------------------------------------ */
/* Blog */
#myBlog {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #fff;
  padding: 20px;
}

#myBlog header {
  display: grid;
  text-align: center;
  margin: 60px 0;
}

#myBlog header .cor-azul {
  font-size: 16px;
  color: #23A6F0;
}

#myBlog header h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}

#myBlog header p:last-of-type {
  font-size: 14px;
  color: #555;
}

#myBlog header article {
  display: grid;
  grid-template-rows: auto;
}

#myBlog .sectionBlog {
  display: flex;
  justify-content: center;
}

#myBlog card {
  width: 19%;
  background-color: #fff;
  border: 1px solid transparent;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

#myBlog card figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBlog card img {
  height: auto;
}

#myBlog card article {
  padding: 20px;
  display: grid;
}

#myBlog card article .menu-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#myBlog card article .menu-top li {
  display: inline-block;
  margin-right: 17px;
}

#myBlog card article .menu-top li p {
  font-size: 14px;
}

#myBlog card article .menu-top img {
  width: 20px;
}

#myBlog card article main {
  margin-top: 16px;
}

#myBlog card article main h3 {
  font-size: 22px;
  color: #252B42;
  margin-bottom: 15px;
}

#myBlog card article main p {
  font-size: 17px;
  color: #555;
  margin-bottom: 10px;
}

#myBlog card article .section {
  margin: 30px 0;
}

#myBlog card article section .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#myBlog card article section .menu li {
  display: flex;
  align-items: center;
  margin: 0;
}

#myBlog card article section .menu li img {
  width: 12px;
}

#myBlog card article section .menu li p {
  margin-left: 5px;
}

#myBlog card article footer {
  display: flex
}

#myBlog card article footer h4 {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

#myBlog card article footer img {
  width: 10px;
}


/* ----------------------------------------------------------------------------- */
/* Footer */
#myFooter {
  background-color: #ffffff;
  color: #000;
  padding: 40px 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.footer-imgs {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 10px 0;
  align-content: center;
  align-items: center;
  height: 40%;
}

.container-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.footer-imgs .logo {
  width: 100px;
}

.footer-imgs figure {
  display: flex;
  gap: 10px;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

 /* ----------------------- */

.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-main ul {
  list-style: none;
  padding: 0;
}

.footer-main ul li {
  margin-bottom: 10px;
}

.footer-main ul h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-main ul p {
  font-size: 16px;
  line-height: 1.5;
}

.main-email {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-email h4 {
  margin-bottom: 10px;
}

.email-subscription {
  display: flex;
  align-items: center;
  width: 100%;
}

.email-subscription input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
}

.email-subscription button {
  background-color: #23A6F0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.email-subscription p {
  font-size: 14px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}